@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model RetinaTicari.WebApp.Models.CartListViewModel

@* <ul class="dropdown-menu">
    @foreach (var item in Model.Cart.CartLines)
    {
        <li>
            <a>@item.Product.ProductName <span class="badge"></span></a>
        </li>
    }
    <li role="separator" class="divider"></li>
    <li>
        <a><span class="glyphicon glyphicon-align-left glyphicon-shopping-cart" aria-hidden="true"></span>@Model.Cart.Total</a>
    </li>
    <li role="separator" class="divider"></li>
    <li>
        <a asp-controller="Cart" asp-action="List">Go to cart details</a>
    </li>
</ul> *@



@foreach (var item in Model.Cart.CartLines)
{
    <a class="dropdown-item">@item.Product.ProductName </a>
}

<div class="dropdown-divider"></div>
<a class="dropdown-item"><span class="glyphicon glyphicon-align-left glyphicon-shopping-cart" aria-hidden="true"></span>@Model.Cart.Total</a>
<div class="dropdown-divider"></div>
<a class="dropdown-divider" asp-controller="Cart" asp-action="List">Go to cart details</a>
